
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    --color1: #27187E;
    --color2: #758BFD;
    --color3: #AEB8FE;
    --color4: #F1F2F6;
    --color5: #FF8600;
    --font1: 'Poiret One', cursive;
}
html{
    font-size: 16px;
    font-family: var(--font1);
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
header{
    background-color: var(--color2);
    font-family: var(--font1);
    font-size: 3rem;
    padding: 1rem;
    color: var(--color4);
}
#favDialog{
    border: none;
    border-radius: 10px 100px / 120px;
    width: min(80vw, 30rem);
}
form{
    display: grid;
    place-items: center;
}
legend{
    font-weight: bold;
    font-size: 2rem;
}
button,
label,
input,
select{
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0.2rem;
  box-sizing: border-box;
  width: 10rem;
  height: 30px;
}
label{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}


main{
    background-color: var(--color3);
    display: grid;
    place-items: center;
    padding: 2rem;
}
main > div{
   width: min(90%, 60rem);
    height: 100%;
    
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    padding: 1rem;
}
.card{
    background-color: var(--color4);
    display: grid;
    place-items: center;
    border-radius: 10px 100px / 120px;
}
.card :first-child{
    color: var(--color5);
    font-size: 2rem;
}
.card p{
    color: var(--color1);
}
main > div > button{
    height: 100%;
    width: 100%;
    border-radius: 10px 100px / 120px;
    border: none;
    background-color: var(--color4);
    color: var(--color5);
    font-size: 2rem;
}
main > div > button:hover{
    background-color: var(--color5);
    color: var(--color4);
}
footer{
    background-color: var(--color2);
    font-family: var(--font1);
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    padding: 1rem;
    color: var(--color4);
}